/*Figura 5.1*/
/*=======================================*/

.fig-normal_0501 {
  margin-top: 0.4em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0501 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0501 img {
  width: 650px;
}

/*Figura 5.2*/
/*=======================================*/

.fig-normal_0502 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  text-align: center;
}
.fig-normal_0502 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0502 img {
  width: 600px;
}

/*Figura 5.3*/
/*=======================================*/

.fig-normal_0503 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0503 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0503 img {
  width: 475px;
}

/*Figura 5.4*/
/*=======================================*/

.fig-normal_0504 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0504 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0504 img {
  width: 475px;
}

/*Figura 5.5*/
/*=======================================*/

.fig-normal_0505 {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  text-align: center;
}
.fig-normal_0505 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0505 img {
  width: 650px;
}

/*Figura 5.6*/
/*=======================================*/

.fig-normal_0506 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0506 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0506 img {
  width: 600px;
}

/*Figura 5.7*/
/*=======================================*/

.fig-normal_0507 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0507 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0507 img {
  width: 600px;
}

/*Figura 5.8*/
/*=======================================*/

.fig-normal_0508 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0508 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0508 img {
  width: 400px;
}

/*Figura 5.9*/
/*=======================================*/

.fig-normal_0509 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0509 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0509 img {
  width: 600px;
}

/*Figura 5.10*/
/*=======================================*/

.fig-normal_0510 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0510 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 12px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0510 img {
  width: 625px;
}

/*Figura 5.11*/
/*=======================================*/

.fig-normal_0511 {
  margin-top: 0.4em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0511 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0511 img {
  width: 600px;
}

/*Figura 5.12*/
/*=======================================*/

.fig-normal_0512 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0512 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0512 img {
  width: 550px;
}

/*Figura 5.13*/
/*=======================================*/

.fig-normal_0513 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0513 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0513 img {
  width: 600px;
}

/*Figura 5.14*/
/*=======================================*/

.fig-normal_0514 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0514 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0514 img {
  width: 600px;
}

/*Figura 5.15*/
/*=======================================*/

.fig-normal_0515 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0515 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 12px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0515 img {
  width: 650px;
}

/*Figura 5.16*/
/*=======================================*/

.fig-normal_0516 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0516 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 12px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0516 img {
  width: 500px;
}

/*Figura 5.17*/
/*=======================================*/

.fig-normal_0517 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0517 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 12px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0517 img {
  width: 600px;
}

.fig-normal_0517_Fantasma {
  margin-top: -1em;
  margin-bottom: 0em;
  text-align: center;
}
.fig-normal_0517_Fantasma figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 0px;
  padding-bottom: 20px;
  color: #666 !important;
}

/*Figura 5.18*/
/*=======================================*/

.fig-normal_0518 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0518 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 12px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0518 img {
  width: 600px;
}

/*Figura 5.19*/
/*=======================================*/

.fig-normal_0519 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0519 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 12px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0519 img {
  width: 650px;
}

/*Figura 5.20*/
/*=======================================*/

.fig-normal_0520 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0520 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 12px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0520 img {
  width: 600px;
}

/*Figura 5.21*/
/*=======================================*/

.fig-normal_0521 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0521 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 12px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0521 img {
  width: 400px;
}

/*Figura 5.22*/
/*=======================================*/

.fig-normal_0522 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0522 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 12px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0522 img {
  width: 375px;
}

/*Figura 5.00a*/
/*=======================================*/

.fig-normal_0500a {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0500a figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 12px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0500a img {
  width: 200px;
}

/*Figura 5.00b*/
/*=======================================*/

.fig-normal_0500b {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0500b figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 12px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0500b img {
  width: 550px;
}

/*Figura 5.00c*/
/*=======================================*/

.fig-normal_0500c {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0500c figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 12px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0500c img {
  width: 550px;
}
