/*Figura 11.1*/
/*=======================================*/

.fig-normal_1101 {
  margin-top: 0.4em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1101 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1101 img {
  width: 620px;
}

/*Figura 11.2*/
/*=======================================*/

.fig-normal_1102 {
  margin-top: 0.8em;
  margin-bottom: 0.1em;
  text-align: center;
}
.fig-normal_1102 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.2; 
  padding-top: 5px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1102 img {
  width: 620px;
}

/*Figura 11.3*/
/*=======================================*/

.fig-normal_1103 {
  margin-top: 0.8em;
  margin-bottom: 0.1em;
  text-align: center;
}
.fig-normal_1103 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.2; 
  padding-top: 5px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1103 img {
  width: 620px;
}

/*Figura 11.4*/
/*=======================================*/

.fig-normal_1104 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1104 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.2; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1104 img {
  width: 650px;
}

/*Figura 11.5*/
/*=======================================*/

.fig-normal_1105 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1105 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.1; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1105 img {
  width: 630px;
}

/*Figura 11.6*/
/*=======================================*/

.fig-normal_1106 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1106 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.1; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1106 img {
  width: 650px;
}

/*Figura 11.7*/
/*=======================================*/

.fig-normal_1107 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1107 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.1; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1107 img {
  width: 650px;
}

/*Figura 11.8*/
/*=======================================*/

.fig-normal_1108 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1108 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.1; 
  padding-top: 10px;
  padding-bottom: 10px;
  color: #666 !important;
}

.fig-normal_1108 img {
  width: 650px;
}

/*Figura 11.9*/
/*=======================================*/

.fig-normal_1109 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1109 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1109 img {
  width: 650px;
}

/*Figura 11.10*/
/*=======================================*/

.fig-normal_1110 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1110 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1110 img {
  width: 620px;
}

/*Figura 11.11*/
/*=======================================*/

fig-normal_1111 {
  margin-top: 1em;
  margin-bottom: 0em;
  text-align: center;
}
.fig-normal_1111 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 0px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1111 img {
  width: 620px;
}

/*Figura 11.12*/
/*=======================================*/

.fig-normal_1112 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1112 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1112 img {
  width: 620px;
}

/*Figura 11.13*/
/*=======================================*/

.fig-normal_1113 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1113 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1113 img {
  width: 620px;
}

/*Figura 11.14*/
/*=======================================*/

.fig-normal_1114 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1114 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1114 img {
  width: 620px;
}

/*Figura 11.15*/
/*=======================================*/

.fig-normal_1115 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1115 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1115 img {
  width: 620px;
}

/*Figura 11.16*/
/*=======================================*/

.fig-normal_1116 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1116 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1116 img {
  width: 300px;
}

/*Figura 11.17*/
/*=======================================*/

.fig-normal_1117 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1117 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1117 img {
  width: 650px;
}

/*Figura 11.18*/
/*=======================================*/

.fig-normal_1118 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1118 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1118 img {
  width: 620px;
}

/*Figura 11.19*/
/*=======================================*/

.fig-normal_1119 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1119 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1119 img {
  width: 620px;
}

/*Figura 11.20*/
/*=======================================*/

.fig-normal_1120 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1120 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1120 img {
  width: 620px;
}

/*Figura 11.21*/
/*=======================================*/

.fig-normal_1121 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1121 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1121 img {
  width: 650px;
}

/*Figura 11.22*/
/*=======================================*/

.fig-normal_1122 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1122 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1122 img {
  width: 650px;
}

/*Figura 11.23*/
/*=======================================*/

.fig-normal_1123 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1123 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1123 img {
  width: 700px;
}

/*Figura 11.24*/
/*=======================================*/

.fig-normal_1124 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1124 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1124 img {
  width: 620px;
}

/*Figura 11.25*/
/*=======================================*/

.fig-normal_1125 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1125 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1125 img {
  width: 700px;
}

/*Figura 11.26*/
/*=======================================*/

.fig-normal_1126 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1126 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1126 img {
  width: 475px;
}

/*Figura 11.27*/
/*=======================================*/

.fig-normal_1127 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1127 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1127 img {
  width: 620px;
}

/*Figura 11.28*/
/*=======================================*/

.fig-normal_1128 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1128 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1128 img {
  width: 620px;
}

/*Figura 11.29*/
/*=======================================*/

.fig-normal_1129 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_1129 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_1129 img {
  width: 620px;
}
