/* Títulos del libro */
h1, h2, h3, h4, h5, h6 {
  color: #0038CF;
}

.header-section-number {
  color: inherit;
}


.part-intro {
  margin-top: 0.5rem;
}

.sidebar .content {
  padding-top: 1.5rem;
}

#quarto-sidebar {
  font-size: 1.2rem;
}

#quarto-sidebar .sidebar-title,
#quarto-sidebar h1 {
  font-size: 0.97rem !important;
}


/* Images */

.figure-caption {
  text-align: center;
}
