/*Figura 4.1*/
/*=======================================*/

.fig-normal_0401 {
  margin-top: 0.4em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0401 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0401 img {
  width: 650px;
}

/*Figura 4.2*/
/*=======================================*/

.fig-normal_0402 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  text-align: center;
}
.fig-normal_0402 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0402 img {
  width: 650px;
}

/*Figura 4.3*/
/*=======================================*/

.fig-normal_0403 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0403 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0403 img {
  width: 650px;
}

/*Figura 4.4*/
/*=======================================*/

.fig-normal_0404 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0404 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0404 img {
  width: 400px;
}

/*Figura 4.5*/
/*=======================================*/

.fig-normal_0405 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0405 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0405 img {
  width: 650px;
}

/*Figura 4.6*/
/*=======================================*/

.fig-normal_0406 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0406 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0406 img {
  width: 650px;
}

/*Figura 4.7*/
/*=======================================*/

.fig-normal_0407 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0407 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0407 img {
  width: 650px;
}

/*Figura 4.8*/
/*=======================================*/

.fig-normal_0408 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0408 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0408 img {
  width: 500px;
}

/*Figura 4.9*/
/*=======================================*/

.fig-normal_0409 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}
.fig-normal_0409 figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.97em;
  line-height: 1.15; 
  padding-top: 7px;
  padding-bottom: 20px;
  color: #666 !important;
}

.fig-normal_0409 img {
  width: 650px;
}
