/* Títulos del libro */
h1, h2, h3, h4, h5, h6 {
  color: #0038CF;
}

.header-section-number {
  color: inherit;
}


.part-intro {
  margin-top: 0.5rem;
}

.sidebar .content {
  padding-top: 1.5rem;
}

#quarto-sidebar {
  font-size: 1.2rem;
}

#quarto-sidebar .sidebar-title,
#quarto-sidebar h1 {
  font-size: 0.97rem !important;
}

/*** Tablas 2.1  ***/

.tabla-0201 {
  font-size: 0.97em;
  border-collapse: collapse;
  margin: auto;
  margin-top: 8px;   /* poco espacio antes */
  margin-bottom: 25px; /* más espacio después */
  table-layout: fixed;
  display: table;
  width: 440px;
}

.tabla-0201 caption {
  caption-side: top;
  margin-bottom: 0px;
  font-size: 1.1em;
}

.tabla-0201 td:first-child {
  width: 200px;
}

.tabla-0201 td:not(:first-child) {
  width: 40px;
}

.tabla-0201 td {
  padding: 3px 4px;     /* altura de fila más pequeña */
  line-height: 1.15;    /* compacta como en LaTeX */
  text-align: center;
}

/* Primera columna alineada a la izquierda */
.tabla-0201 .fila-titulo {
  text-align: left;
  padding-right: 20px;
}

/* Líneas horizontales tipo LaTeX */
.tabla-0201 tr:first-child td {
  border-top: 1px solid black;
}

.tabla-0201 tr:first-child td,
.tabla-0201 tr:last-child td {
  border-bottom: 1px solid black;
}















